<section class="about">
    <h2>About Eco Firm</h2>
    <p>
      Ours is a Cinderella story of sorts.
      We started as a company cleaning up recyclables that other large companies had thrown in the garbage.
      It was not glamorous, but we felt it had to be done. We got our hands dirty, literally, and saw first-hand the impact
      the actions these types of laxy actions has on our planet. We grew deeply passionate about taking care of this place
      we all call home. And we also understand the difficulties in encorporating and maintaining environmentally responsible
      behaviors on a large scale.
    </p>
    <p>
      More recently, we have grown to a large company ourselves. Thankfully, we no longer do the manual labor part of our work,
      but rather, we focus on the overall company-wide system. We make our client's more efficient in the end, working past
      the initial balancing act between cost and time and environmental consciousness. We elevate the processes to a place
      where all three can win.
    </p>

    <p>
      We work with many state and privately run clean-up crews that provide jobs for capable people who are homeless or struggling.
      Jobs provide them the means to get back on their feet. We are glad to employ some of the nation's untapped talent and
      do our part to help the people that inhabit the environment as well. Of course, if there are any foundations in our client's
      area, we like to tap the local economy as it provides a sense of community.
    </p>

  <p>
    Thanks for reading and we hope you reach out to us soon.
  </p>
  <div class="sign-off">
    - Elizabeth Brown, CEO
  </div>

</section>