<section class="introduction">
  <div class="container">
    <div class="left-side">
      <h1>Make your company eco-friendly.</h1>
      <p>We are Eco firm - a company excited to help your company learn the dos and donts of modern sustainable business. </p>
    </div>
    <div class="right-side">
      <img class="eco-friendly" src="images/sky_and_grass.jpg"/>
    </div>
  </div>
</section>