<section class="introduction">
  <div class="container">
    <div class="left-side">
      <h1>Make your company eco-friendly.</h1>
      <p>We are Eco firm - a company excited to help your company learn the dos and donts of modern sustainable business. </p>
    </div>
    <div class="right-side">
      <img class="eco-friendly" src="images/sky_and_grass.jpg"/>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="container">
    <div class="benefit">
      <p> Conduct business in a low impact and environmentally friendly way. </p>
    </div>

    <div class="benefit">
      <img class="eco-friendly" src="images/treetops.jpg"/>
    </div>

    <div class="benefit">
      <p> Have peace of mind knowing that you are using the latest and greatest practices. </p>
    </div>

    <div class="benefit">
      <img class="eco-friendly" src="images/flowers.jpg"/>
    </div>

    <div class="benefit">
      <p> Work with experts in the field who are always striving for better results for our clients. </p>
    </div>

    <div class="benefit">
      <img class="eco-friendly" src="images/duck.jpg"/>
    </div>

    <div class="benefit">
      <p> We will come to your office and it will make sure not to disrupt your business. </p>
    </div>

    <div class="benefit">
      <img class="eco-friendly" src="images/sky_and_grass.jpg"/>
    </div>

    <div class="benefit">
      <p> Do your part to save the planet!  </p>
    </div>
  </div>
</section>

<section class="how-it-works">
    <div class="call-to-action">
      <h2>Ready to learn more?</h2>
      <p>
        Are you ready to make a more efficient business and take action to protect the world around you?
        Click to get a quote below and we will get back to you within 24 hours with a summary of our services, timeline, and estimated costs.
      </p>

      <a class="button" href="/"><div class="button-text">Get a free quote</div></a>
    </div>
</section>
