<section class="pricing">
  <h2>Our Rates</h2>
  <p>
    Each client is unique, so we will tailor our services and, therefore, our rates for each case. Use the form below to
    let us know more about your company so that we can give you a more specific estimate for your project.
  </p>



</section>