<section class="pricing" xmlns="http://www.w3.org/1999/html">
  <h2>Our Rates</h2>
  <p>
    Each client is unique, so we will tailor our services and, therefore, our rates for each case. Use the form below to
    let us know more about your company so that we can give you a more specific estimate for your project.
  </p>



  <form id="quote-request">
    <fieldset>

      First name: <input type="text" name="first-name">
      Last name: <input type="text" name="last-name">
      Company: <input type="text" name="company-name">
      Phone Number: <input type="text" name="phone-number">

      Company Size:
      <br/>
      <input type="radio" name="size" value="small">1-20
      <input type="radio" name="size" value="medium">21-50
      <input type="radio" name="size" value="large">51-200
      <input type="radio" name="size" value="extra-large">201+
    </fieldset>


    <input type="submit" value="Submit">

  </form>
</section>