$backgroundColor: #d0d0d0;
$copyColor: #111111;
$linkColor: #003344;

$primaryColor: #008888;
$primary2: #005858;
$primary3: #58C3C3;

$secondaryColor: #00B500;
$secondary2: #007600;
$secondary3: #62DA62;

$tertiaryColor: #103998;
$tertiary2: #253D72;
$tertiary3: #6786CB;