@import "styles";

header {
  background: $primaryColor;
  padding: 20px 20px;

  .header-container {
    @include outer-container;

    .home-link {
      color: white;
      @include typography2;
    }

    .right-links {
      line-height: 35px;
    }

    .link {
      color: white;
      text-align: right;
      &:hover {
        color: $secondaryColor;
      }
    }

    @include media($browser) {
      .left-links {
        @include span-columns(10 of 12);
      }

      .right-links {
        @include span-columns(2 of 12);
      }

      .link {
        @include span-columns(2 of 2);
        @include shift(0);
      }
    }


    @include media($tablet) {
      .left-links {
        @include span-columns(8 of 12);
      }

      .right-links {
        @include span-columns(4 of 12);
      }

      .link {
        @include span-columns(4 of 4);
      }
    }

    @include media($mobile) {
      .left-links {
        @include span-columns(1 of 1);
      }

      .right-links {
        @include span-columns(1 of 1);
      }

      .link {
        @include span-columns(1 of 1);
        @include shift(0);
        text-align: left;
      }
    }


  }

}

footer {
  background: $primaryColor;
  padding: 10px 20px;
  a {
    color: $copyColor;
    text-decoration: none;
  }
}