@import "styles";

header {
  background: $accentColor1;
  padding: 20px 20px;
  a {
    color: $copyColor;
    text-decoration: none;
  }
}

footer {
  background: $accentColor1;
  padding: 10px 20px;
  a {
    color: $copyColor;
    text-decoration: none;
  }
}