@import "bourbon/bourbon";
@import "neat/neat-helpers";

// Change the grid settings
$column: 340px;
$gutter: 0px;
$max-width: em(1024);

// Define your breakpoints
$visual-grid: false;

$browser: new-breakpoint(min-width 831px, 12);
$tablet: new-breakpoint(min-width 551px max-width 830px, 12);
$mobile: new-breakpoint(min-width 320px max-width 550px, 1);

@import "neat/neat";
@import "styles";

body {
  background-color: $backgroundColor;
  color: $copyColor;
  @include bodyFont;

  .page-content {
    padding: 20px;
    max-width: 1440px;
    min-height: 400px;
    margin: auto;
    background-color: white;
  }

}