section.pricing {
  padding: 20px;
  min-height: 500px;
  max-width: 1024px;
  margin: auto;

  p {
    margin: 10px 0;
  }

  #quote-request {
    max-width: 500px;

    textarea {
      max-height: 375px;
    }

  }

}