@import 'typography';
@import 'colors';

h1 {
  @include typography1;
  color: $primaryColor;
}

h2 {
  @include typography2;
  color: $primaryColor;
}

p {
  @include bodyFont;
  color: $copyColor;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
  }
}
