@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat-helpers";

// Change the grid settings
$column: 340px;
$gutter: 0px;
$max-width: 1024px;

// Define your breakpoints
$visual-grid: false;

$browser: new-breakpoint(min-width 831px, 12);
$tablet: new-breakpoint(min-width 551px max-width 830px, 12);
$mobile: new-breakpoint(min-width 320px max-width 550px, 1);

@import "neat/neat";

@import 'typography';
@import 'colors';

h1 {
  @include typography1;
  color: $primaryColor;
}

h2 {
  @include typography2;
  color: $primaryColor;
}

p {
  @include bodyFont;
  color: $copyColor;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
  }
}

body {
  background-color: $backgroundColor;
  color: $copyColor;
  @include bodyFont;

  .page-content {
    max-width: 1440px;
    margin: auto;
    background-color: white;
  }
}

#page-message {
  padding: 20px 20px 0 20px;

  .text {
    padding: 5px;
    border: 1px lightgray solid;
    text-align: center;
  }
}
